<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../menu.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Combo&family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Grill & Chill Breakfast</title>
  </head>
  <body>
    <header>Breakfast Menu</header>
    <div class="menu-items">
      <div class="card">
        <div class="menu-img">
          <img src="../images/Masala-Dosa-500x375.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Masala Dosa</h3>
          <p>Rs. 300</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/hamburger-1238246__480.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Ham Burger</h3>
          <p>Rs. 199</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img aloo">
          <img src="../images/aloo.webp" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Aloo Paratha</h3>
          <p>Rs. 150</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/omlette.webp" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Egg Omlette</h3>
          <p>Rs. 100</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/sandwich.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Cheese Sandwich</h3>
          <p>Rs. 120</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Idli-and-Sambar-1.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Idli Sambhar</h3>
          <p>Rs. 200</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Paneer-Tikka-1200x900.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Paneer Tikka</h3>
          <p>Rs. 250</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/salad.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Salad</h3>
          <p>Rs. 80</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Veg-Spring-Rolls-3.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Spring Roll</h3>
          <p>Rs. 120</p>
        </div>
      </div>
    </div>
  </body>
</html>
