<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../menu.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Combo&family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Grill & Chill Dinner</title>
  </head>
  <body>
    <header>Dinner Menu</header>
    <div class="menu-items">
      <div class="card">
        <div class="menu-img">
          <img src="../images/Rogan_josh02.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Rogan Josh</h3>
          <p>Rs. 600</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/matar-paneer.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Matar Paneer</h3>
          <p>Rs. 199</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img aloo">
          <img src="../images/mixveg.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Mix veg</h3>
          <p>Rs. 150</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/paneer-butter-masala-recipe.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Paneer Butter Masala</h3>
          <p>Rs. 300</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Muradabadi-chicken-biryani-1200x900.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Chicken Biriyani</h3>
          <p>Rs. 360</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/eggbhurji.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Egg bhurji</h3>
          <p>Rs. 200</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Paneer-Tikka-1200x900.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Paneer Tikka</h3>
          <p>Rs. 250</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/dal.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Fried Dal</h3>
          <p>Rs. 80</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/special.webp" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Special Dinner</h3>
          <p>Rs. 900</p>
        </div>
      </div>
    </div>
  </body>
</html>
