<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../menu.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Combo&family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Grill & Chill Lunch</title>
  </head>
  <body>
    <header>Lunch Menu</header>
    <div class="menu-items">
      <div class="card">
        <div class="menu-img">
          <img src="../images/paneer-bhurji-cooking.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Paneer Bhurji</h3>
          <p>Rs. 300</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/chilli-paneer-dry.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Chilli Paneer</h3>
          <p>Rs. 200</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img aloo">
          <img src="../images/Instant-Pot-Chicken-Curry-Recipe-500x375.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Chicken Curry</h3>
          <p>Rs. 400</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/goat-mutton-curry-1957594-hero-01-afaf638173cd47d595c7ad99a018cf01.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Mutton Curry</h3>
          <p>Rs. 500</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Biryani_of_Lahore.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Biriyani</h3>
          <p>Rs. 200</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/egg-fried-rice-1.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Egg fried rice</h3>
          <p>Rs. 200</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Kadai Paneer Recipe Restaurant style.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Kadai Paneer</h3>
          <p>Rs. 150</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/paneer-butter-masala-recipe.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Sahi Paneer</h3>
          <p>Rs. 120</p>
        </div>
      </div>
      <div class="card">
        <div class="menu-img">
          <img src="../images/Fish-curry.jpg" alt="Food" />
        </div>
        <div class="menu-text">
          <h3>Fish Curry</h3>
          <p>Rs. 300</p>
        </div>
      </div>
    </div>
  </body>
</html>
